@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #695f44;
}
.App{
  display: flex;
  flex-direction: column;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #7b7154;
}
.navbar h2 {
  color: #8e8365;
}
.navbar .links {
  margin-left: auto;
}
a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
a:hover {
  color: #a19576;
}
section {
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
  /* background-color: #eddeba; */
}

/* book previews / list */
.book-list{
  display: flex;
  flex-wrap: wrap;
}
.book-list-element {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #7b7154;
}
.book-list-element:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.book-list-element h2 {
  font-size: 20px;
  /* color: #695f44; */
  margin-bottom: 8px;
}
.book-list-element a{
  text-decoration: none;
  display: flex;
  flex-direction: row;

}
.book-list-element div{
  padding: 20px;
}

/* book details page */
.book-details-box{
  display: flex;
  flex-direction: row;
}
.book-details-img{
  padding: 20px;
}
.book-details-data{
  padding: 20px;
}
.book-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.book-details div {
  margin: 20px 0;
}



/* form */
form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* book search page */
.book-search{
  display: flex;
}
.book-search label,input{
  padding: 5px;
  margin: 5px;
}

.login a{
  border: 1px solid #7b7154;
  border-radius: 50px;
}
.register a{
  border: 1px solid #7b7154;
  border-radius: 50px;
}